﻿@model Spender.ViewModels.PaymentModeViewModel

<h4>Add/Edit Payment Mode</h4>

@using (Html.BeginForm("Edit", "PaymentMode", FormMethod.Post))
{
    <div class="form-group">
        @Html.HiddenFor(model => model.PaymentModeId)
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
}


