﻿<div></div>
@model Spender.ViewModels.PaymentModeIndex

<div class="row">
    <div class="col-md-6">
        <h2>@Model.PageTitle</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-7">
        <div id="paymentModeList">
            @{ Html.RenderAction("List"); }
        </div>

        @*<div id="paymentModeList2">
                @{ Html.RenderPartial("List", Model.PaymentModes); }
            </div>*@
    </div>

    <div class="col-md-offset-1 col-md-4">
        <div id="paymentModeEdit">
            @{ Html.RenderPartial("Edit", Model.PaymentMode); }
        </div>        
    </div>
</div>