﻿@model IEnumerable<Spender.ViewModels.PaymentModeViewModel>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th class="col-md-1">Id</th>
                <th class="col-md-2">Name</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(x => item.PaymentModeId)</td>
                    <td>@Html.DisplayFor(x => item.Name)</td>
                    <td>@Ajax.ActionLink("Edit", "Edit", new { paymentModeId = item.PaymentModeId }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "paymentModeEdit" })</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script type="text/javascript" language="javascript">
    //function SuccessCallback()
    //{
    //    alert('success!!');
    //}

    //$(document).ready(function () {

    //});
</script>