﻿@{Layout = null; }

<h2>{{pageTitle}}</h2>

<form class="form-horizontal">
    <!-- angular drop down -->
    @*<div class="form-group">
        <label for="parent" class="col-sm-2 control-label">Parent</label>
        <div class="col-sm-10">
            <select ng-options="item as item.name for item in parentCategories track by item.categoryId"
                    ng-model="parent" ng-change="selectedParentChanged()">
            </select>
        </div>
    </div>*@

    <!-- ui-boostrap dropdown -->
    <div class="form-group">
        <label for="parent" class="col-md-2 control-label">Has Parent</label>
        <div class="col-md-10 checkbox-dropdown">
            <div class="checkbox">
                <label>
                    <input type="checkbox" data-ng-model="hasParent" data-ng-change="toggleHasParent()">
                </label>
            </div>
            <div data-ng-show="hasParent" class="btn-group" uib-dropdown is-open="status.isopen">
                <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                    <span data-ng-if="!parent">Please choose a parent </span><span data-ng-if="parent">{{parent.name}} </span><span class="caret"></span>
                </button>
                <ul class="uib-dropdown-menu" role="menu" aria-labelledby="single-button">
                    <li role="menuitem" ng-repeat="item in parentCategories">
                        <a href="#" data-ng-click="selectedParentChanged(item)">{{item.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="name" class="col-md-2 control-label">Name</label>
        <div class="col-md-10">
            <input type="text" class="form-control" id="name" placeholder="Name" data-ng-model="category.name">
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" data-ng-model="category.isSummaryHeader"> Summary Header
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary" data-ng-click="save()">Save</button>
            <a href="/category/list" class="btn btn-default">Cancel</a>
        </div>
    </div>
</form>
