﻿@{Layout = null; }

<h2>{{ pageTitle }}</h2>

<div class="row" ng-if="messages.length > 0">
    <div class="col-md-12">
        <div class="alert alert-danger" role="alert">
            <ul>
                <li ng-repeat="item in messages">{{item.message}}</li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 text-right">
        <label></label>
        <a class="btn btn-primary" href="/category/edit/0">Add</a>
    </div>
</div>
<table class="table table-responsive table-bordered table-hover category-table">
    <tr>
        <th class="col-md-1">Category Id</th>
        <th class="col-md-4">Name</th>
        <td class="col-md-1">Summary Header</td>
        <th class="col-md-2"></th>
    </tr>
    <tbody ng-repeat ="item in categories">
        <tr class="parent" ng-click="toggleShowChildren(item);">
            <td>{{ item.categoryId }}</td>
            <td>
                <span ng-if="item.childrenCount > 0">
                    <span ng-if="!item.showChildren" class="glyphicon glyphicon-plus" aria-hidden="true"></span> 
                    <span ng-if="item.showChildren" class="glyphicon glyphicon-minus" aria-hidden="true"></span> 
                </span>                    
                {{ item.name }}
            </td>
            <td><input type="checkbox" data-ng-model="item.isSummaryHeader" /></td>
            <td>
                <a href="/category/edit/{{ item.categoryId }}">Edit</a>
                <a ng-if="item.childrenCount == 0" href="#" data-ng-click="deleteCategory(item.categoryId)">Delete</a>
            </td>
        </tr>
        <tr ng-if="item.showChildren" ng-repeat="child in item.children">
            <td>{{ child.categoryId }}</td>
            <td class="child-name">{{ child.name }}</td>
            <td><input type="checkbox" data-ng-model="item.isSummaryHeader" /></td>
            <td>
                <a href="/category/edit/{{ child.categoryId }}">Edit</a>
                <a href="#" data-ng-click="deleteCategory(child.categoryId)">Delete</a>
            </td>
        </tr>
    </tbody>
</table>